html,
body {
	/*background-color: #2b230f;*/
	background-color: #333;
	padding: 0px;
	margin: 0px;
	font-family: "Menlo", "Meslo LG", monospace;
	font-size: 14px;
	overflow: hidden;
}

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

@font-face {
  font-style: normal;
  font-family: "Meslo LG";
  src: local("Meslo LG S"), url("./meslo-LG/MesloLGS-Regular.ttf") format("truetype");
}

ul {
	padding: 0px;
}

h1 { font-size: 30px; }

a,
a:focus,
a:hover {
	text-decoration: none; /* remove extra underlines from chrome */
}

/* dynamic fonts (in lieu of max-font-size / min-font-size)
   https://fvsch.com/code/css-locks/
*/
.lead {
	font-size: 18px;
}

@media (min-height: 320px) {
  h1 {
  	font-size: calc( 2.325vh + 9px );
  }
  .lead {
  	font-size: calc( 1.6vh + 10px );
  }
  div.lead-wrapper {
  	min-height: 25px;
  }
}

@media (min-height: 960px) {
  h1 {
  	font-size: 30px;
  }
  .lead {
  	font-size: 22px;
  }
  div.lead-wrapper {
  	min-height: 25px;
  }
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.inner {
	padding: 0px 20px;
}

.masthead-brand {
	margin-bottom: 10px;
}

.masthead-nav {
	opacity: 0;
}
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff;  IE8 proofing 
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
	color: rgba(255,255,255,.75);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 500px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}

.title-and-subtitle-wrapper {
	min-height: 60px;
	height: 17vh;
	max-height: 115px;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
.cover-heading {
	display: inline;
	color: white;
	margin-bottom: 10px;
}
.cover-heading-wrapper {
	padding-top: 10px;
	max-height: 4.5vh;
}

@media (min-width: 500px) {
	.masthead {
		position: fixed;
		top: 0;
		padding-right: 30px;
		padding-top: 2vh;
	}

	.masthead,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

div.launchers {
	margin-top: 15px;
	height: 14vw;
	max-height: 12vh;
	width: 100%;
	opacity:0;
}

.launcher {
	opacity: .3;
	transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
}

.launcher:hover {
	opacity: 1;
}

.full-opacity {
	opacity: 1;
}

.spacer {
	max-height: 100px;
	height: 14vh;
	min-height: 67px;
}

#jumbo {
	width: 220vh;
	max-width: 100%;
	/*max-height:;*/
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	-webkit-box-shadow: 0px 10px 100px rgba(0,0,0,.5);
	-moz-box-shadow: 0 10px 100px rgba(0,0,0,.5);
	-o-box-shadow: 0 10px 100px rgba(0,0,0,.5);
	box-shadow: 0 10 100px rgba(0,0,0,.5);
	opacity: 0;
}

@media (max-height: 900px) {
	#jumbo {
		width: 190vh;
	}
	div.launchers {
		margin-top: .5vh;
	}
}

/*@media (max-width: 400px) {
	.masthead-nav > li > a {
		font-size: 12px;
	}
}
*/
@media (max-height: 500px) {
	.cover-heading-wrapper {
		padding-top: .2vh;
	}
}

@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

.fade-in {
	animation: fadein 3.5s;
	animation-fill-mode: forwards;
}

.masthead-brand {
	margin-top: 24px;
	opacity: 0;
}

.lead {
	display: inline;
	min-height: 29px;
}

.lead-wrapper {
	min-height: 2vh;
}

#hr {
	margin-right: 10px;
}

.height-hold {
	font-size: 35px;
}

/* typed specific code for blinky cursor */
.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes blink{
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes blink{
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

/* blog blue: #3B8FC9; */